<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <title>test finale js</title>
    </head>
    <body>
        
        <div id="app">

            <div class="elemento_fixed d_flex_column space_between">      
                <div class="sfondo_fixed d_flex_column"  @click="mandaAiVideos()">
                    <i class="fas fa-folder-open"></i>
                    <p>Demos</p>
                </div>
                <div class="sfondo_fixed d_flex_column" @click="shopOffer()">
                    <div class="d_flex">
                        <span>$</span>
                        <div>39</div>
                    </div>
                    <p>On Sale</p>
                </div>  
            </div>

            <!-- <nav>
                <div class="barrettaNera">
                    <div class="center d_flex space_between">
                        <p>ciao</p>
                        <p>ciao</p>
                    </div>
                </div>
                <div class="navigation d_flex">
                    <div class="center d_flex space_between">
                        <img src="assets/img/avada-drivers-logo-1x.png" alt="">
                        <ul class="navList d_flex">
                            <a href="">HOME</a>
                            <a href="">ABOUT</a>
                            <a href="">PRICES</a>
                            <a href="">COURSES <span>NEW</span> </a>
                            <a href="">LOCATIONS</a>
                            <a href="">BLOG</a>
                        </ul>
                        <input type="button" value="BOOK NOW">
                    </div>
                </div>
                <img class="heroIMG" src="assets/img/homepage-hero-background.jpg" alt="">
            </nav> -->

            <nav>
                <div class="barrettaNera">
                    <div class="annuncio center d_flex space_between">
                        <p>We Have a 95% Successfull Pass Rate!</p>
                        <p><i class="fas fa-phone-alt"></i> Give us a call your tultion! 1-800-555-555</p>
                    </div>
                </div>
                <div class="navigation d_flex">
                    <div class="heroIMG">
                        <div class="containerTrasparente">
                            <div class="center d_flex space_between">
                                <img class="logo" src="assets/img/avada-drivers-logo-1x.png" alt="">
                                <ul class="navList d_flex" v-for="link in linksNav">
                                    <a href=""> {{link}} <span v-html=""></span> </a>
                                </ul>
                                <input type="button" value="BOOK NOW">
                            </div>
                            <div class="titoloPagina center">
                                <h1>Drive with Avada</h1>
                                <p>We offer the finest driving tuition money can buy</p>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            
            <main>
                <div class="main_1 d_flex center">
                    <div class="text_main_1">
                        <h2>Get Behind The Wheel</h2>
                        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, at. Natus dolorem esse animi recusandae dolorum saepe eveniet assumenda commodi facilis nam nihil eligendi.</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non quasi ex sit sequi laboriosam necessitatibus recusandae pariatur mollitia? Magnam, possimus unde molestias neque eveniet temporibus incidunt. Quasi ex optio commodi?</p>
                    </div>
                    <div class="areaForm">
                        <form class="d_flex_column">
                            <h3>First Lesson Free!</h3>
                            <p>When you moke o block booking with us your first lesson is included free.</p>
                            <input type="text" name="" placeholder=" Your Name* ">
                            <input type="e-mail" name="" placeholder=" Email* ">
                            <input type="text" name="" placeholder=" Telephone ">
                            <input type="text" name="" placeholder=" Location ">
                            <input type="submit" id="btn_form" value="REQUEST A CALLBACK">
                        </form>
                    </div>
                </div>

                <div class="main_2">
                    <div class="hero_img_main_2">
                        <div class="container_main_2 center d_flex">
                            <div class="text_main_2">
                                <h3>Start Learning to Drive Today</h3>
                                <h6>Give us a call to schedule your first driving lesson</h6>
                            </div>
                            <div class="text_main_2 center">
                                <p><i class="fas fa-phone-alt"></i> 1-800-555-555</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main_3">
                    <div class="container_main_3">
                        <div class="img_copertina_main">
                            <div class="heroimg_main_3"></div>
                            <img src="assets/img/triangle.png" alt="">
                        </div>
                        <div class="card_info">
                            <div class="new_info">
                                <p>New</p>
                            </div>
                            <h3>Courses</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas at ex dolorum, nostrum maxime eos ipsam. </p>
                            <input type="button" value="COURSE INFORMATION">
                        </div>
                        <div class="cards_info">
                            <div class="d_flex space_around">
                                <!-- da fare con vue.js piu avanti -->
                                <div class="card d_flex_column">
                                    <img src="assets/img/courses-passplus.jpg" alt="">
                                    <h3>Pass Plus</h3>
                                    <input type="button" value="LEARN MORE">
                                </div>
                                <div class="card d_flex_column">
                                    <img src="assets/img/course-intensive.jpg" alt="">
                                    <h3>Intensive Course</h3>
                                    <input type="button" value="LEARN MORE">
                                </div>
                                <div class="card d_flex_column">
                                    <img src="assets/img/courses-instructor.jpg" alt="">
                                    <h3>Instructor</h3>
                                    <input type="button" value="LEARN MORE">
                                </div>
                                <!-- da fare con vue.js piu avanti -->
                            </div>
                        </div>
                        <div class="center d_flex">
                            <div class="cards_bottom d_flex">
                                <div class="card_main_3">
                                   <!-- da fare successivamente con vue -->
                                    <div class="cerchio_rateo">
                                        <i class="fas fa-circle-notch"></i>
                                        <h2>95%</h2>
                                    </div>
                                    <p>PASS RATE</p>
                                </div>
                                <div class="card_main_3">
                                    <!-- da fare successivamente con vue -->
                                    <div class="cerchio_rateo">
                                        <i class="far fa-circle"></i>
                                        <h2>100%</h2>
                                    </div>
                                    <p>REFFERAEL RATE</p>
                                </div>
                                <div class="card_main_3">
                                    <!-- da fare successivamente con vue -->
                                    <div class="cerchio_rateo_diverso">
                                        <i class="far fa-circle"></i>
                                        <h2>0%</h2>
                                    </div>
                                    <p>ACCIDENT RATE</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main_4">
                    <div class="center">
                        <h3>Your Instructors</h3>
                        <div class="d_flex">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque suscipit non ex facilis repudiandae deleniti voluptas aliquid expedita qui libero illo, ipsam repellendus temporibus impedit sapiente amet. Dolorem, numquam aut!</p>
                            <input type="button" value="MORE ABOUT US">
                        </div>
                        <div class="cards_main_4 d_flex space_between">
                            <div class="card d_flex_column">
                                <img src="assets/img/instructor-mikehart-400x254.jpg" alt="">
                                <h4>Mike Hart</h4>
                                <ul class="icons">
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, ipsum.</p>
                            </div>
                            <div class="cardPlus d_flex_column">
                                <img src="assets/img/instructor-johnsmith-200x127.jpg" alt="">
                                <h4>John Smith</h4>
                                <ul class="icons">
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, ipsum.</p>
                            </div>
                            <div class="card d_flex_column">
                                <img src="assets/img/instructor-angelahart-600x381.jpg" alt="">
                                <h4>Angela Hart</h4>
                                <ul class="icons">
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, ipsum.</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="main_5">
                    <!-- <div class="container_main_5">
                        <div class="img_main_5">
                            <div class="info center">
                                <h3>Testimonials</h3>
                                <h5>Here's what our happy drivers had to say about our services:</h5>
                                <img src="assets/img/testimonial-sophia.png" alt="">
                                <p class="center"> Avada Driving School really helped build my confidence behind the wheel and with driving in general, and they got me a first time pass! Higly recommended.</p>
                                <h6>Sophia Jones</h6>
                                <ul>
                                    <i class="fas fa-circle"></i>
                                    <i class="far fa-circle"></i>
                                    <i class="far fa-circle"></i>
                                    <i class="far fa-circle"></i>
                                    <i class="far fa-circle"></i>
                                </ul>
                            </div>
                        </div>
                    </div> -->

                    <div class="container_main_5">
                        <div class="img_main_5">
                            <div class="info center">
                                <h3>Testimonials</h3>
                                <h5>Here's what our happy drivers had to say about our services:</h5>
                                <div class="images">
                                    <img class="active" :src="img[counter]" alt="">
                                </div>
                                <p class="center"> Avada Driving School really helped build my confidence behind the wheel and with driving in general, and they got me a first time pass! Higly recommended.</p>
                                <h6> {{name[counter]}} </h6>
                                <ul>
                                    <i class="fas fa-circle" :class="(i === counter) ? 'active': '' " v-for="(img, i) in img" @click="circleClick(i)"> </i>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="container">
                        <div class="slider-wrapper">
                            <div class="prev" @click="prevImg">
                                <i class="fas fa-angle-left"></i>
                            </div>
                            <div class="images">
                                <img class="active" :src="img[counter]" alt="">
                            </div>
                            <div class="next" @click="nextImg">
                                <i class="fas fa-angle-right"></i>
                            </div>
                            <div class="nav">
                                <i class="fas fa-circle" :class="(i === counter) ? 'active': '' " v-for="(img, i) in img"
                                @click="circleClick(i)"> </i>
                            </div>
                        </div>
                    </div> -->
                </div>

                <div class="main_6">
                    <div class="container_main_6">
                        <div class="img_main_6">
                            <div class="container_info_main_6 center">
                                <h3>Latest News</h3>
                                <div class="d_flex space_around center">
                                    <div class="card_main_6">
                                        <img src="assets/img/blog-choosecar-700x441.jpg" alt="">
                                        <h3>What Car to Start With?</h3>
                                        <p>February 7th, 2019 | 0 comments</p>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                                    </div>
                                    <div class="card_main_6">
                                        <img src="assets/img/blogpost-10and2-320x202.jpg" alt="">
                                        <h3>Avada Driving School Expanding</h3>
                                        <p>February 7th, 2019 | 0 comments</p>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                                    </div>
                                </div>
                                <input type="button" value="MORE FROM THE BLOG">
                            </div>   
                        </div>
                        <div class="img_sotto_main_6">
                            <img src="assets/img/latestnews-bottom-800x70.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="main_7">
                    <div class="img_main_7">
                        <div class="container_main_7 center">
                            <form class="d_flex_column" action="" method="get">
                                <h3>Sign up to our Newsletter</h3>
                                <input type="text" name="Subscribe" placeholder="">
                                <button>SUBSCRIBE</button>
                                <p>(We do not share your data with anybody. and only use it for its intended purpose)</p>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
            
            <footer>
                <div class="footer_1">
                    <div class="img_footer">
                        <div class="containers_footer_1 d_flex center space_between">
                            <div class="colonna d_flex_column">
                                <img src="assets/img/avada-drivers-logo-1x.png" alt="">
                                <p>Avada Driving School is the right choice for exeperienced drivers looking for a refrescher course, of the brand new driver wanting to pass first time.</p>
                            </div>
                            <div class="colonna d_flex_column">
                                <h4>CONTACT DETAILS</h4>
                                <!-- <div class="d_flex">
                                    <i class="fas fa-home"></i>
                                    <p>12345 North Main Street. New york, NY 555555</p>
                                </div>
                                <div class="d_flex">
                                    <i class="fas fa-phone"></i>
                                    <p>1.800.555.6789</p>
                                </div>
                                <div class="d_flex">
                                    <i class="far fa-envelope"></i>
                                    <p>info@your-domain.com</p>
                                </div>
                                <div class="d_flex">
                                    <i class="fas fa-link"></i>
                                    <p>Theme-Fusion.com</p>
                                </div> -->
                                <div class="d_flex" v-for="info in infoFooter">
                                    <i :class=info.icona></i>
                                    <p> {{info.text}} </p>
                                </div>
                            </div>
                            <div class="colonna d_flex_column">
                                <h4>COURSES</h4>
                                <!-- <div class="d_flex">
                                    <i class="far fa-arrow-alt-circle-right"></i>
                                    <p><a> Pass Plus </a></p>
                                </div>
                                <div class="d_flex">
                                    <i class="far fa-arrow-alt-circle-right"></i>
                                    <p><a> Intensive Course </a></p>
                                </div>
                                <div class="d_flex">
                                    <i class="far fa-arrow-alt-circle-right"></i>
                                    <p><a> Automatic </a></p>
                                </div>
                                <div class="d_flex">
                                    <i class="far fa-arrow-alt-circle-right"></i>
                                    <p><a> Instructor Training </a></p>
                                </div> -->
                                <div class="d_flex" v-for="elemento in elementFooter">
                                    <i :class= elemento.icona ></i>
                                    <p><a> {{elemento.text}} </a></p>
                                </div>
                            </div>
                            <div class="colonna d_flex_column">
                                <img src="assets/img/footer-ad-grid.png" alt="">
                                <button>BOOK NOW</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer_2">
                    <div class="d_flex center space_between">
                        <p>&copy; Copyright 2012- 2020 | Avada Theme by <span>ThemeFusion</span>| All Rights Reserved | Powered by <span>WordPress</span></p>
                        <div class="icons_social">
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>