* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
/* utility class */
.center{
    width: 70%;
    margin: auto;
}
.d_flex {
    display: flex;
}
.d_flex_column{
    display: flex;
    flex-direction: column;
}
.space_between {
    justify-content: space-between;
}
.space_around{
    justify-content: space-around;
}
.self_center {
    align-self: center;
}
.prova {
    width: 100px;
    height: 100px;
    background-color: green;
}
/* utility class */

/* nav */
.barrettaNera {
    width: 100%;
    height: 30px;
    background-color: rgb(29, 28, 28);
}
.annuncio p {
    color: white;
    line-height: 30px;
    font-size: 13px;
}
.heroIMG {
    background-image: url(../img/homepage-hero-background.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
}
.containerTrasparente{
    background-color: black;
    opacity: 0.7;
    height: 100px;
}
.logo {
    height: 40px;
    margin-top: 25px;
}
.navList > a {
    padding: 0 15px;
    color: white;
    font-weight: 500;
    font-size: 13px;
    line-height: 100px;
    vertical-align: middle;
}
.navList > a:hover {
    color: rgb(6, 167, 41);
    text-decoration: underline;

}
.containerTrasparente input {
    height: 50px;
    padding-top: 0;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 25px;
    border-radius: 25px;
    color: white;
    background-color: rgb(6, 167, 41);
}
.containerTrasparente input:hover {
    cursor: pointer;
}
.titoloPagina {
    color: white;
    position: relative;
    top: 150px;
}
.titoloPagina h1 {
    font-size: 58px;
}
.titoloPagina p {
    font-size: 25px;
}
/* nav */

/* main 1 */
.main_1 {
    position: relative;
}
.text_main_1 {
    margin-top: 50px;
    max-width: 50%;
}
.text_main_1 > h2,.text_main_1 > h4,.text_main_1 > p{
    margin-top: 15px;
    color: grey;
}
.text_main_1 > h2{
    color: black;
}
.text_main_1 > h4 {
    line-height: 30px;
}
.text_main_1 > p {
    line-height: 27px;
}
.areaForm {
    margin: auto;
    width: 40%;
    background-color: white;
    position: absolute;
    top: -30px;
    right: 0;
    border-radius: 10px;
    border: 1px solid black;
    padding: 20px;
}
.areaForm h3{
    color: rgb(6, 167, 41);
}
.areaForm h3, .areaForm p{
   text-align: center;
   padding-top: 10px;
}
.areaForm input {
    margin: 15px;
    padding: 5px;
}
#btn_form {
    color: white;
    border-radius: 10px;
    background-color: rgb(6, 167, 41);
    width: 50%;
    margin: auto;
    margin-top: 10px;
}
/* main 1 */

/* main 2 */
.main_2 {
    margin-top: 100px;
}
.hero_img_main_2{
    background-image: url(../img/horizontal-cta-background.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
}
.container_main_2{
    padding-top: 15px;
}
.text_main_2{
    color: white;
    font-size: 1.5em;
    width: 50%;
}
.text_main_2 h3{
    margin-top: 50px;
    font-size: 30px;
}
.text_main_2 h6{
    margin-top: 20px;
    font-size: 15px;
}
.text_main_2 p{
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}
/* main 2 */

/* main 3 */
.heroimg_main_3{
    background-image: url(../img/blog-choosecar-700x441.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    opacity: 0.2;
    background-position: bottom;
}
.main_3{
    position: relative;
    height: 800px;
}
.img_copertina_main > img {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 400px;
    color: #cbcccd;

    transform: scaleY(-1); 
    -webkit-transform: scaleY(-1); 
    -moz-transform: scaleY(-1); 
    -ms-transform: scaleY(-1); 
    -o-transform: scaleY(-1); 
    filter: flipv; 
    opacity: 0.2;
}
.container_main_3{
    position: relative;
}
.card_info {
    width: 300px;
    background-color:white;
    position: absolute;
    top: -5%;
    left: 15%;
    padding: 15px;
    padding-bottom: 50px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: lightgray;
}
.card_info input{
    background-color: green;
    border-radius: 10px;
    padding: 5px;
    color: white;
}
.card_info h3, .card_info p, .card_info input {
    margin-top: 20px;
}
.card_info p {
    color: lightgray;
    line-height: 25px;
}
.card_info h3 {
    font-size: 1.5em;
}
.cards_info {
    position: absolute;
    top: 10%;
    left: 45%;
    width: 40%;
}
.cards_info img {
    max-width: 110px;
    height: 100px;
    margin: auto;
    margin-top: 15px;
}
.card_info > input {
    margin-top: 50px;
}
.card_info > input:hover {
    cursor: pointer;
}
.card > h3 {
    text-align: center;
    margin: 10px;
}
.card > input {
    margin: auto;
    padding: 5px;
    color: green;
    border: 1px solid green;
    border-radius: 10px;
    max-width: 100px;
}
.card > input:hover {
    background-color: grey;
    cursor: pointer;
}
.cards_bottom {
    width: 100%;
    height: 200px;
    z-index: 1;
}
.card_main_3{
    width: 300px;
    height: 350px;
    border: 3px solid green;
    background-color: white;
    margin: 10px;
}
/* main 3 */

/* main 4 */
.main_4 {
    width: 100%;
    height: 400px;
    margin-top: 50px;
}

.main_4 > .center > h3 {
    padding: 50px 0;
    font-size: 40px;
}
.main_4 input {
    padding: 0 20px;
    background-color: green;
    border-radius: 20px;
    color: white;
}
.main_4 .card{
    text-align: center;
    width: 300px;
    height: 400px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-top: 100px;
}
.cards_main_4 > .cardPlus{
    text-align: center;
    width: 310px;
    height: 410px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-top: 100px;
}
.main_4 .card img, .main_4 .cardPlus img{
    text-align: center;
    max-width: 300px;
    margin-bottom: 15px;
}
.main_4 .cardPlus img{
    max-width: 310px;
}
.card > .icons > a > i, .cardPlus > .icons > a > i {
    font-size: 1.2em;
    margin: 20px;
    color: lightgray;
}
.main_4 .card p, .main_4 .cardPlus p {
    line-height: 2em;
}
.cards_main_4 h4 {
    font-size: 25px;
}
/* main 4 */