* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}

a {
    text-decoration: none;
}
/* utility class */
.center{
    width: 70%;
    margin: auto;
}
.d_flex {
    display: flex;
}
.d_flex_column{
    display: flex;
    flex-direction: column;
}
.space_between {
    justify-content: space-between;
}
.space_around{
    justify-content: space-around;
}
.self_center {
    align-self: center;
}
.prova {
    width: 100px;
    height: 100px;
    background-color: green;
}
/* utility class */

/* nav */
.barrettaNera {
    width: 100%;
    height: 30px;
    background-color: rgb(29, 28, 28);
}
.annuncio p {
    color: white;
    line-height: 30px;
    font-size: 13px;
}
.heroIMG {
    background-image: url(../img/homepage-hero-background.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
}
.containerTrasparente{
    background-color: black;
    opacity: 0.7;
    height: 100px;
}
.logo {
    height: 40px;
    margin-top: 25px;
}
.navList > a {
    padding: 0 15px;
    color: white;
    font-weight: 500;
    font-size: 13px;
    line-height: 100px;
    vertical-align: middle;
}
.navList > a:hover {
    color: rgb(6, 167, 41);
    text-decoration: underline;

}
.containerTrasparente input {
    padding: 10px 30px;
    margin: 30px 0px;
    border-radius: 25px;
    color: white;
    background-color: rgb(6, 167, 41);
    font-weight: 700;
}
.containerTrasparente input:hover {
    cursor: pointer;
    background-color: rgb(5, 112, 28);
}
.titoloPagina {
    color: white;
    position: relative;
    top: 150px;
}
.titoloPagina h1 {
    font-size: 58px;
}
.titoloPagina p {
    font-size: 25px;
}
/* nav */

/* main 1 */
.main_1 {
    position: relative;
}
.text_main_1 {
    margin-top: 50px;
    max-width: 50%;
}
.text_main_1 > h2,.text_main_1 > h4,.text_main_1 > p{
    margin-top: 15px;
    color: grey;
}
.text_main_1 > h2{
    color: black;
}
.text_main_1 > h4 {
    line-height: 30px;
}
.text_main_1 > p {
    line-height: 27px;
}
.areaForm {
    margin: auto;
    width: 40%;
    background-color: white;
    position: absolute;
    top: -30px;
    right: 0;
    border-radius: 10px;
    border: 1px solid black;
    padding: 20px;
}
.areaForm h3{
    color: rgb(6, 167, 41);
}
.areaForm h3, .areaForm p{
   text-align: center;
   padding-top: 10px;
}
.areaForm input {
    margin: 15px;
    padding: 5px;
    font-weight: 700;
}
#btn_form {
    color: white;
    border-radius: 10px;
    background-color: rgb(6, 167, 41);
    width: 50%;
    margin: auto;
    margin-top: 10px;
}
#btn_form:hover {
    cursor: pointer;
    background-color: rgb(5, 112, 28);
}
/* main 1 */

/* main 2 */
.main_2 {
    margin-top: 100px;
}
.hero_img_main_2{
    background-image: url(../img/horizontal-cta-background.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
}
.container_main_2{
    padding-top: 15px;
}
.text_main_2{
    color: white;
    font-size: 1.5em;
    width: 50%;
}
.text_main_2 h3{
    margin-top: 50px;
    font-size: 30px;
}
.text_main_2 h6{
    margin-top: 20px;
    font-size: 15px;
}
.text_main_2 p{
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}
/* main 2 */

/* main 3 */
.heroimg_main_3{
    background-image: url(../img/bmw.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: bottom;
}
.main_3{
    position: relative;
    height: 800px;
}
.img_copertina_main > img {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 400px;
    color: #cbcccd;

    transform: scaleY(-1); 
    -webkit-transform: scaleY(-1); 
    -moz-transform: scaleY(-1); 
    -ms-transform: scaleY(-1); 
    -o-transform: scaleY(-1); 
    filter: flipv; 
    opacity: 0.1;
}
.container_main_3{
    position: relative;
}
.card_info {
    width: 300px;
    background-color:white;
    position: absolute;
    top: -5%;
    left: 15%;
    padding: 15px;
    padding-bottom: 50px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: lightgray;
    overflow: hidden;
}
.card_info > .new_info {
    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute;
    top: -17%;
    left:-17%;
    transform: rotate(-45deg);
}
.new_info > p {
    color: white;
    font-size: 23px;
    padding-top: 50px;
}
.card_info input{
    background-color: green;
    border-radius: 10px;
    padding: 5px;
    color: white;
    font-weight: 700;
}
.card_info input:hover{
    background-color: rgb(5, 112, 28);
}
.card_info h3, .card_info p, .card_info input {
    margin-top: 20px;
}
.card_info > p {
    color: lightgray;
    line-height: 25px;
    padding-top: 25px;
}
.card_info h3 {
    font-size: 1.9em;
}
.cards_info {
    position: absolute;
    top: 10%;
    left: 45%;
    width: 40%;
}
.cards_info img {
    max-width: 110px;
    height: 100px;
    margin: auto;
    margin-top: 15px;
}
.card_info > input {
    margin-top: 50px;
}
.card_info > input:hover {
    cursor: pointer;
}
.card > h3 {
    text-align: center;
    margin: 10px;
}
.card > input {
    margin: auto;
    padding: 5px;
    color: green;
    border: 1px solid green;
    border-radius: 10px;
    max-width: 100px;
}
.card > input:hover {
    background-color: lightgrey;
    cursor: pointer;
}
.cards_bottom {
    width: 100%;
    height: 200px;
    z-index: 1;
}
.card_main_3{
    width: 300px;
    height: 350px;
    border: 3px solid green;
    background-color: white;
    margin: 10px;
    position: relative;
}
.card_main_3 > p {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
}
.cerchio_rateo > i, .cerchio_rateo_diverso > i{
    font-size: 200px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: 
    translate(-50%, -50%)
    rotate(-10deg);
    color: green;
}
.cerchio_rateo_diverso > i{
    transform: 
    translate(-50%, -50%)
    rotate(0deg);
    color: grey;
}
.cerchio_rateo > h2, .cerchio_rateo_diverso > h2 {
    font-size: 40px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* main 3 */

/* main 4 */
.main_4 {
    width: 100%;
    height: 600px;
    margin-top: 50px;
}

.main_4 > .center > h3 {
    padding: 50px 0;
    font-size: 40px;
}
.main_4 input {
    padding: 0 20px;
    background-color: green;
    border-radius: 20px;
    color: white;
}
.main_4 input:hover {
    cursor: pointer;
    background-color: rgb(5,112,28);
}
.main_4 .card{
    text-align: center;
    width: 300px;
    height: 400px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-top: 100px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px -10px 0px 0px rgb(6, 167, 41);
}
.cards_main_4 > .cardPlus{
    text-align: center;
    width: 310px;
    height: 410px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-top: 100px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px -10px 0px 0px rgb(6, 167, 41);
}
.main_4 .card img, .main_4 .cardPlus img{
    text-align: center;
    max-width: 300px;
    margin-bottom: 15px;
}
.main_4 .cardPlus img{
    max-width: 310px;
}
.card > .icons > a > i,.cardPlus > .icons > a > i {
    font-size: 1.2em;
    margin: 20px;
    color: lightgray;
}
.cardPlus > .icons > a > i {
    margin-top: 25px;
}
.card > .icons > a > i:hover, .cardPlus > .icons > a > i:hover {
    color: blue;
}
.main_4 .card p, .main_4 .cardPlus p {
    line-height: 2em;
    margin: 0 10px;
}
.cards_main_4 h4 {
    font-size: 25px;
}
/* main 4 */

/* main 5 */
.main_5 {
    text-align: center;
    margin: auto;
}
.container_main_5 .info{
    padding-top: 150px;
}
.img_main_5 {
    background-image: url(../img/testimonial-background.jpg);
    height: 700px;
    background-size: cover;
}
.img_main_5 h3{
    font-size: 35px;
    margin: 20px;
}
.img_main_5 h5{
    font-size: 20px;
}
.img_main_5 img {
    margin: 20px;
    max-width: 200px;
}
.img_main_5 > .info{
    line-height: 25px;
}
.info > ul > i{
    padding: 15px;
}
.active {
    color: blue;
}
.info > ul > i:hover {
    cursor: pointer;
}
.info > h6 {
    margin: 15px;
    font-size: 15px;
}
/* main 5 */

/* Main 6 */
.img_main_6 {
    background-image: url(../img/latestnews-background.jpg);
    height: 600px;
    background-size: cover;
    background-position: center;
}
.container_main_6 {
    position: relative;
}
.container_info_main_6{
    width: 1000px;
    height: 450px;
    background-color: white;
    position: relative;
    top: -5%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px -10px 0px 0px rgb(66, 68, 153);
}
.container_info_main_6 > h3 {
    font-size: 30px;
    padding: 20px;
}
.container_info_main_6 p:not(p:last-child){
    color: lightgray;
    font-size: 0.7em;
    margin: 10px;
}
.container_info_main_6 img {
    max-width: 300px;
}
.card_main_6 > h3 {
    font-size: 22px;
    margin-top: 15px;
    color: green;
}
.container_info_main_6 input {
    background-color: green;
    padding: 5px 15px;
    border-radius: 15px;
    margin-top: 10px;
    color: white;
    font-weight: 700;
}
.container_info_main_6 input:hover{
    cursor: pointer;
    background-color: rgb(5, 112, 28);
}
.img_sotto_main_6{
    position: absolute;
    top: calc(450px - 5%);
    left: 50%;
    transform: translateX(-50%);
    background-repeat: no-repeat;
}
.img_sotto_main_6 img {
    width: 1000px;
}
/* Main 6 */

/* Main 7 */
.img_main_7 {
    background-image: url(../img/newsletter_background.jpg);
    height: 300px;
    background-size: cover;
    background-position: center;
}
.container_main_7 {
    text-align: center;
    max-width: 550px;
}
.container_main_7 h3 {
    font-size: 30px;
    padding: 25px;
}
.container_main_7 input{
    margin: 15px;
    padding: 10px 0;
}
.container_main_7 button {
    margin: 15px;
    padding: 5px 0;
    border-radius: 15px;
    background-color: green;
    color: white;
    font-weight: 700;
}
.container_main_7 button:hover {
    cursor: pointer;
    background-color: rgb(5, 112, 28);
}
.container_main_7 p {
    margin-top: 15px;
    color: gray;
}
/* Main 7 */

/* footer */

.img_footer {
    background-image: url(../img/footer-background-color.jpg);
    height: 350px;
    background-size: cover;
}
.containers_footer_1 {
    padding-top: 70px;
}
.colonna {
    width: 23%;
    padding: 0 5px;
}
.colonna p, .colonna i {
    margin-top: 20px;
    color: grey;
}
.colonna i {
    margin-right: 10px;
}
.colonna > h4 {
    color: white;
}
.colonna button {
    margin-top: 25px;
    padding: 5px;
    color: white;
    background-color: green;
    border-radius: 20px;
    font-weight: 700;
}
.colonna button:hover{
    cursor: pointer;
    background-color: rgb(5, 112, 28);
}
.colonna button:hover, .colonna a:hover {
    cursor: pointer;
    text-decoration: underline;
}
.footer_2 {
    height: 100px;
    background-color: black;
}
.footer_2 p {
    font-size: 14px;
    line-height: 100px;
    color: grey;
}
.footer_2 p > span {
    color: green;
}
.footer_2 i {
    color: white;
    margin: 45px 25px;
}
.footer_2 i:hover {
    color: green;
}
/* footer */

/* fixed */
.elemento_fixed {
    width: 70px;
    height: 150px;
    position: fixed;
    right: 2%;
    top: 25%;
    z-index: 999;
}
.sfondo_fixed {
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
}
.sfondo_fixed:hover {
    background-color: lightgray;
}
.sfondo_fixed:hover {
    cursor: pointer;
}
.sfondo_fixed i {
    font-size: 25px;
    text-align: center;
    margin: 10px 0;
    color: blue;
}
.sfondo_fixed > span {
    color: green;
    font-size: 0.8em;
}
.sfondo_fixed div {
    color: green;
    font-size: 1.5em;
}
.sfondo_fixed p {
    text-align: center;
}